<div class="blade-content __medium-wide">
  <div class="blade-inner">
    <div class="inner-block">
      <form class="form" name="formScope">

        <fieldset ng-init="setForm(formScope)">

          <div class="form-group">
            <label class="form-label">{{ 'white-labeling.blades.white-labeling-detail.labels.enabled' | translate }}</label>
            <div class="form-input">
              <label class="form-label __switch">
                <input type="checkbox" ng-model="blade.currentEntity.isEnabled">
                <span class="switch"></span>
              </label>
            </div>
          </div>

          <div class="form-group">
            <va-widget-container group="whiteLabelingLogos" blade="blade" gridster-opts="{columns: 3}"></va-widget-container>
          </div>

          <div class="form-group">
            <va-setting-value-select blade="blade"
                                     label="'white-labeling.blades.white-labeling-detail.labels.preset-name' | translate"
                                     placeholder="'white-labeling.blades.white-labeling-detail.placeholders.preset-name' | translate"
                                     setting="'WhiteLabeling.ThemePresetNames'"
                                     ng-model="blade.currentEntity.themePresetName"></va-setting-value-select>
          </div>

          <div class="form-group">
            <legend> {{ 'white-labeling.blades.white-labeling-detail.labels.footer-personalization' | translate }} </legend>
            <div class="note">
              To enable personalized footer content for your organization through white labeling in Virto Commerce, follow these steps:
              <div style="margin-top:20px;margin-bottom:20px">
                <p>1. Navigate to the <a href style="font-size:14px" ng-click="blade.openContent()">Content</a> section.</p>
                <p>2. Choose the specific Store you want to customize the footer for.</p>
                <p>3. Select <b>'Linked lists'</b> from the widgets.</p>
                <p>4. Create a new linked list by clicking <b>'Add'</b></p>
                <p>5. Name this new list <b>'footer-{{ blade.organization.name }}'</b> to identify it easily.</p>
              </div>
              After completing these steps, your organization will start displaying the personalized footer content as intended.
            </div>
          </div>

        </fieldset>

      </form>
    </div>
  </div>
</div>
